<% show_post ||= false %>

<div class="row">
  <div class="span1 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
        <i class="icon-arrow-up"></i>
      <% end %>
    <% end %>
    <br />
    <span><%= comment.total_votes %> <%= comment.total_votes === 1 || comment.total_votes === -1 ? 'vote' : 'votes'%></span>
    <br />
    <% if logged_in? %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
        <i class="icon-arrow-down"></i>
        <% end %>
    <% end %>
  </div>

  <div class="span8 well">
      <em>
        "<%= comment.body %>"
        <% if show_post %>
          on <%= link_to comment.post.title, post_path(comment.post) %>
        <% end %>
      </em>
      <p>
        <span class="quiet">posted by</span> <%= link_to comment.creator.username, user_path(comment.creator) %>
        <small>at <time datetime="<%= comment.created_at %>"><%= display_datetime(comment.created_at) %></time></small>
      </p>
  </div>
</div>
